main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.game_header {
  width: 800px;
}

.game_controler_layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.game_board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.game_board div {
  border-radius: 50%;
  border: 2px brown solid;
  width: 200px;
  height: 200px;
}

.game_timer_layout {
  position: absolute;
  width: 200px;
  top: 0;
  right: 0;
}

.game_timer_layout div {
  display: flex;
  flex-direction: column;
  align-items: center;
}